*{
    margin: 0;
    padding: 0;
}
.weather{
    place-self: center;
    padding: 40px;
    border-radius:10px;
    background-image: linear-gradient(45deg,#2f4680,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    border: none;
    outline: none;
    background: #ebfffc; 
}

.search-box{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-box{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background:#ebfffc ;
    font-size: 18px;
}

.search-box img{
    width: 50px;
    padding: 15px;
    border-radius:50% ;
    background: #fdffff;
    cursor: pointer;
}
.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temperature{
    color:#fff;
    font-size: 80px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 40px;
}
.weather-data {
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data img{
    height: 40px;
    margin-top: 10px;
    margin-inline:10px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}

#install-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 1px 2px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px; /* Adds space between the button and weather data */
    text-align: center;
  }
  
  #install-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  #install-button:active {
    background-color: #004085;
    transform: translateY(0);
  }
  
  #install-button:focus {
    outline: none;
  }
  
  #install-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  